# put this in sudo nano /lib/systemd/system/iottly-device-agent.service
# sudo chmod 644 /lib/systemd/system/iottly-device-agent.service
# sudo systemctl daemon-reload
# sudo systemctl enable iottly-device-agent.service


Description=Iottly Agent
After=network.target multi-user.target

[Service]
Type=idle
Restart=always
ExecStart=/usr/bin/python3.4 /home/pi/iottly-device-agent-py/iottly-device-agent-py/main.py

[Install]
WantedBy=multi-user.target